.add {
  margin: 0 auto;
  max-width: 984px;
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, .3);
}

@media screen and (max-width: 1024px) {
  .add {
    max-width: 928px;
  }
}

@media screen and (max-width: 928px) {
  .add {
    padding:0 24px;
  }
}

@media screen and (max-width: 500px) {
  .add {
    padding: 0 16px;
  }
}