.form__input-btn {
  margin: 0 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 240px;
  border: 2px dashed #fff;
  padding: 8px 49px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.4s;
}

.form__input-btn:hover .form__input-icon {
  fill: rgba(109, 155, 191);
}

.form__input-btn:hover .form__input-text {
  color: rgba(109, 155, 191);
}

.form__input-btn:hover {
  box-shadow: 0px 0px 10px 3px rgba(109, 155, 191, 0.2) inset;
}
